# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [21]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [33]:
weather_data = pd.read_csv(
    "Output/weather_data.csv")

# Visualize
weather_data.head()

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,Santa Maria,-29.6842,-53.8069,75.20,46,0,8.05,BR,1619725450
1,Cape Town,-33.9258,18.4232,57.99,76,20,10.36,ZA,1619725012
2,Bluff,-46.6000,168.3333,51.01,93,88,8.99,NZ,1619725029
3,Dunedin,-45.8742,170.5036,53.01,84,100,5.01,NZ,1619725450
4,Paita,-5.0892,-81.1144,82.40,57,0,17.27,PE,1619725450

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [34]:
#configure gmaps
gmaps.configure(api_key=g_key)

locations = weather_data[["Lat", "Lng"]].astype(float)
humidity = weather_data["Humidity"].astype(float)

In [35]:
# Create a Heatmap layer
fig = gmaps.figure()

heat_layer = gmaps.heatmap_layer(locations, weights=humidity, 
                                 dissipating=False, max_intensity=100,
                                 point_radius = 3)

fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [56]:
min_temp = weather_data.loc[weather_data['Max Temp']<80]
max_temp = min_temp.loc[min_temp['Max Temp']>70]
wind_speed = max_temp.loc[max_temp['Wind Speed']<10]
weather_conditions = wind_speed.loc[wind_speed['Cloudiness']==0]
weather_conditions

# Convert to DataFrame
weather_conditions_df = pd.DataFrame(weather_conditions)
weather_conditions_df = weather_conditions_df.reset_index(drop=True)
weather_conditions_df

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,Santa Maria,-29.6842,-53.8069,75.20,46,0,8.05,BR,1619725450
1,Morondava,-20.2833,44.2833,79.74,77,0,6.62,MG,1619725473
2,Saint-Philippe,-21.3585,55.7679,77.00,78,0,6.91,RE,1619725101
3,Beloha,-25.1667,45.0500,73.74,74,0,7.38,MG,1619725096
4,Departamento de Maldonado,-34.6667,-54.9167,71.60,56,0,9.22,UY,1619725173
5,Rosetta,31.4044,30.4164,71.60,68,0,9.22,EG,1619725559
6,Djebeniana,35.0350,10.9081,73.40,53,0,6.91,TN,1619725568
7,Santo Antônio do Sudoeste,-26.0736,-53.7253,71.91,43,0,2.24,BR,1619725345
8,Cachoeira do Sul,-30.0392,-52.8939,71.69,44,0,4.00,BR,1619725580
9,Saint-Pierre,-21.3393,55.4781,77.00,78,0,6.91,RE,1619725197

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [ ]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [ ]:
# Add marker layer ontop of heat map


# Display figure